.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6rem;
    min-height: 100vh;
    background-image: url("../public/static/backgroundimage.png");
    background-size: cover;
    background-repeat: no-repeat;
    

}



.p{
  color: white;
  text-align: left;
  font-family: 'Didact Gothic', sans-serif;
  
  
}
.trophy{
    color: white;
}
.img{
        border-radius: 10%; 
        margin-top: -60px;
}


.p:before{
  content:" ";
  height: 2px;
  width: 90px;
  background: white;
  display: block;
  position: absolute;
  top: 30%;
  left: 0;
}
.h1{
  color: white;
  margin-top: 10px;
  
  margin-left: -14px;

}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    color: white;

  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    color: white;
  }

 