.card {
    position: relative;
    background-color: white;
    margin-top: 10px;
    width: 350px;
    height: 400px;
  
}

.image {
    height: 400px;
    width: 100%;
}
.h3{
    font-size: 20px;
    margin-bottom: 0px;
    line-height: 1.2em;
    
}
.h3:hover{
    color: orangered;
}
.card:hover{
    transform: scale(1.2);
    transition: 1s;
    
}
.shape {
    background-color: white;
    width: 250px;
    height: 90px;
    border-radius: 1rem;
    margin-left: 45px;
    text-align: center;
    color: black;
    font-family: 'Syne', sans-serif;
   
}
.shape:hover{
    transform: scale(1.2);
    transition: 1s;
    
}
