.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding: 6rem;
    min-height: 100vh;
    background-image: url("../public/static/backgroundimage.png");
    background-size: cover;
    background-repeat: no-repeat;
    

}
.hrcolor{
    color: white;
}

.image{
    width: 350px;
    height: 50px;
    border:2px solid white;
    box-shadow: 2px 2px 2px white;
    
}
.h1{
    color: white;

}
.input{
    border-radius: 5px;
    border: 10px solid white;
    box-shadow: 5px 5px 10px;
}
.card{
    border :2px solid white;
    background-color: white;
    min-height: 250px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 5px 5px 10px;
    
}
.recentpost{
    margin-bottom: -5px;
}
.img{
    height: 350px;
    width: 700px;
    border-radius: 20px;
}
.img:hover{
    opacity: 0.7;
}
.row{
    display: flex;

}
.postimg{
    height: 100px;
    width: 100px;
    margin-left: 50px;
    border-radius: 50px;
}

.p{
    color: white;
    margin-top: 15px;
}

.post{
    color: white;
    display: flex;
    margin-left: 10px;
  }
  .postp{
    margin-left: 10px;
  }

.p:before{
    content:" ";
    height: 2px;
    width: 45px;
    background: white;
    display: block;
    position: absolute;
    top: 35%;
    left: 50px;
  }

  .h5{
    margin-top: 10px;
    color: white;

  }