.p{
    color: white;
    margin-top: 10px;
}
.h3{
    color: white;
}
.card{
    color:black;
    box-shadow: 10px 10px 10px;
}
.span{
    color: orange;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    color: white;

  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    color: white;
    
  }
  