.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    background-image: url("../public/static/backgroundimage.png");
    background-size: cover;
    background-repeat: no-repeat;
}

  .p{
    color: white;
  }