.image{
   
    
    width:  200px;
    height: auto;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
   
    margin-right: 400px;
    
    
}
.navbar{
    position: fixed;
    background-color: transparent;
    position: -webkit-sticky; /* Safari */
 

    top: 0;
    padding: 15px
    
    

}
.navbar:hover{
    color: orange;
}
.navbaritem:hover{
color: orange;
}





