.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6rem;
    min-height: 80vh;
    background-image: linear-gradient(rgba(48, 46, 46, 0.5), rgba(1, 1, 1, 0.5)),url("../public/static/about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aliceblue;
}
.card{
    margin-left: 80px;
    margin-top: 100px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;



}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin-bottom: 40px;

}