.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding: 6rem;
    min-height: 100vh;
    background-image: url("../public/static/backgroundimage.png");
    background-size: cover;
    background-repeat: no-repeat;
    

}


.p{
  color: white;
  text-align: left;

  
}

.p:before{
  content:" ";
  height: 2px;
  width: 98px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}
.h1{
  color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: -14px;
  text-shadow: 2px 2px 5px;

}
.span{
  color: gray;
}
.button{
  margin-left: 20px;
  margin-top: 30px;
  color: white;
  margin-bottom: 30px;
}

 