.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6rem;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: whitesmoke;

}
.p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Syne', sans-serif;
    color: #555;
    position: relative;
    margin-bottom: 0px;
    padding-left: 50px;
}
.p:before {
    content: " ";
    height: 1px;
    width: 39px;
    background: orangered;
    display: block;
    position: absolute;
    top: 11px;
    left: 0rem;
}
.h1 {
    font-size: 48px;
    font-weight: 700;
    font-family: 'Syne', sans-serif;
    line-height: 1.25em;
    color: #000;
    position: relative;
    margin-bottom: 20px;

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;



}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin-bottom: 40px;


}

.description {


    margin-top: 30px;
    margin-left: 80px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

}