.section{
    min-height: 100vh;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
}
.wrapperouter{
height: 100vh;
overflow: hidden;    
}
.wrapper{
    height: 100%;
    overflow-x: hidden;
    perspective: 1px;
}
.parallaxbg{
    background-image: url("../public/static/about.jpg");
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: center center;
    z-index: -1;
    min-height: 100%;
    transform: translate3d(0,0,-1px) scale(2);
    
}
